name: Build Beautity

on:
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build exe
        run: |
          pyinstaller --noconfirm --windowed --onefile --name Beautity beautity.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Beautity-Windows
          path: dist/Beautity.exe

  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build app
        run: |
          pyinstaller --noconfirm --windowed --name "Beautity" beautity.py

      - name: Zip app
        run: |
          ditto -c -k --sequesterRsrc --keepParent "dist/Beautity.app" "Beautity-mac.zip"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Beautity-macOS
          path: Beautity-mac.zip
